In [1]:
import pandas as pd

In [32]:
df_cases = pd.read_csv("cases-brazil-cities-time.csv")

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 3.34 µs

In [34]:
df_cases.head()

,epi_week,date,state,city,ibgeID,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases
0,9,2020-02-25,SP,São Paulo/SP,3550308,0,0,1,1,0.0,0.008,0.0
1,9,2020-02-25,TOTAL,TOTAL,0,0,0,1,1,0.0,0.000,0.0
2,9,2020-02-26,SP,São Paulo/SP,3550308,0,0,0,1,0.0,0.008,0.0
3,9,2020-02-26,TOTAL,TOTAL,0,0,0,0,1,0.0,0.000,0.0
4,9,2020-02-27,SP,São Paulo/SP,3550308,0,0,0,1,0.0,0.008,0.0

In [51]:
columns = ["city", "ibgeID", "date", "totalCases", "totalCases_per_100k_inhabitants", "deaths", "newCases", "newDeaths"]
df_campis = df_cases[(df_cases["city"] == "Acarape/CE") | (df_cases["city"] == "Redenção/CE") | (df_cases["city"] == "São Francisco do Conde/BA")][columns]

In [52]:
df_campis.shape

(2190, 8)

In [55]:
df_campis.head()

,city,ibgeID,date,totalCases,totalCases_per_100k_inhabitants,deaths,newCases,newDeaths
6890,São Francisco do Conde/BA,2929206,2020-04-06,1,2.459,0,1,0
7642,São Francisco do Conde/BA,2929206,2020-04-07,1,2.459,0,0,0
8456,São Francisco do Conde/BA,2929206,2020-04-08,1,2.459,0,0,0
9327,São Francisco do Conde/BA,2929206,2020-04-09,1,2.459,0,0,0
10238,São Francisco do Conde/BA,2929206,2020-04-10,1,2.459,0,0,0

In [57]:
df_campis.columns

Index(['city', 'ibgeID', 'date', 'totalCases',
       'totalCases_per_100k_inhabitants', 'deaths', 'newCases', 'newDeaths'],
      dtype='object')

In [58]:
df_campis.columns = ["city", "city_ibge_code", "date", "last_available_confirmed", "last_available_confirmed_per_100k_inhabitants", "last_available_deaths", "new_confirmed", "new_deaths"]

In [59]:
df_campis.columns

Index(['city', 'city_ibge_code', 'date', 'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants',
       'last_available_deaths', 'new_confirmed', 'new_deaths'],
      dtype='object')

In [61]:
df_campis.shape

(2190, 8)

In [62]:
df_campis = df_campis.sort_values(by="city")

In [63]:
df_Acarape = df_campis[df_campis["city"] == "Acarape/CE"].sort_values(by="date", ascending=False)
df_Redencao = df_campis[df_campis["city"] == "Redenção/CE"].sort_values(by="date", ascending=False)
df_SFC = df_campis[df_campis["city"] == "São Francisco do Conde/BA"].sort_values(by="date", ascending=False)

In [66]:
df_SFC.head()

,city,city_ibge_code,date,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_deaths,new_confirmed,new_deaths
3927273,São Francisco do Conde/BA,2929206,2022-04-12,4815,11840.940,73,1,0
3921676,São Francisco do Conde/BA,2929206,2022-04-11,4814,11838.481,73,0,0
3916079,São Francisco do Conde/BA,2929206,2022-04-10,4814,11838.481,73,0,0
3910482,São Francisco do Conde/BA,2929206,2022-04-09,4814,11838.481,73,0,0
3904885,São Francisco do Conde/BA,2929206,2022-04-08,4814,11838.481,73,0,0

In [68]:
df_campis.head()

,city,city_ibge_code,date,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_deaths,new_confirmed,new_deaths
3094134,Acarape/CE,2300150,2021-11-15,2831,18698.811,31,0,0
978700,Acarape/CE,2300150,2020-11-02,1925,12714.663,15,0,0
2176244,Acarape/CE,2300150,2021-06-04,2660,17569.353,27,14,0
984296,Acarape/CE,2300150,2020-11-03,1925,12714.663,15,0,0
3530700,Acarape/CE,2300150,2022-02-01,3092,20422.721,33,1,0

In [90]:
df_campis = pd.concat([df_Acarape, df_Redencao, df_SFC])

In [91]:
df_campis.reset_index(inplace=True)

In [92]:
df_campis.drop("index", axis=1, inplace=True)

In [96]:
df_campis.head()

,city,city_ibge_code,date,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_deaths,new_confirmed,new_deaths
0,Acarape/CE,2300150,2022-04-12,3174,20964.333,36,0,0
1,Acarape/CE,2300150,2022-04-11,3174,20964.333,36,0,0
2,Acarape/CE,2300150,2022-04-10,3174,20964.333,36,0,0
3,Acarape/CE,2300150,2022-04-09,3174,20964.333,36,0,0
4,Acarape/CE,2300150,2022-04-08,3174,20964.333,36,0,0

In [97]:
df_campis.to_csv("df_cidades_campis.csv", index=False)